/*--------------------------------------------*\
   CSS bestand voor gehele opmaak, elk device
\*--------------------------------------------*/

/* Reset van css elementen */
* {
	margin: 0;
	padding: 0;
}

/*	Type selector: selecteert een specifiek element. */
body {
	background-color: #F0F0F0;
	font-family: 'Lato', sans-serif;
}

section {
	display: none;
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 2em;
}

h2 {
	margin: 0em 0em 0.2em 0em;
}

h3 {
	margin: 0.6em 0em 0em 0em;
}

p, figure {
	line-height: 1.5em;
}

ul, li {
	list-style-type: none;
}

a {
	color: #59998C;
	text-decoration: none;
}

/* Class selector: selecteert element met specifieke class */
.active {
	display: inline-block;
}

/* ID selector: selecteert een element met specifieke ID */
#content {
	width: 100%;
	margin: 6em 0em 0em 0em;
}

/* About & Movies */
#about, #movies {
	padding: 2em;
}

/* About */
#about p {
	margin: 1em 0em;
}

/* Movies */
#movies.active {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
}

#movies article {
	padding: 0em 0em 2em 0em;
}

/* Pseudo-class selector: voegt in dit geval komma toe achter a href van #movies */
#movies a:after {
	content: ", ";
}

#movies a:last-child:after {
	content: "";
}

#movies p.simplePlot {
	display: none;
}

#movies p.simplePlot.active {
	display: block;
}

#movies.detail article {
	width: 100%;
}

/* PageTitle */
#pageTitle {
	display: none;
	font-size: 1.5em;
	height: 1.5em;
	padding: 1.3em 0em 0em 1.5em;
}

#pageTitle.active {
	display: inline-block;
}

/* Small detail */
.small_detail {
	overflow: hidden;
	position: relative; 								
}

.small_detail aside {
	position: absolute;
	background-color: #FFFFFF;
	z-index: 1;
	padding: 0.625em;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

}

.small_detail aside h1 {
	font-size: 1em;
	line-height: 1.5em;
}

/* Attribute selectors: selecteert specifiek element met specifiek attribuut en waarde */
.small_detail aside [data-bind="score"] {
	font-size: 3em;
	line-height: 0.5em;
	padding: 0.5em 0em;
	bottom: 0.625em;
	position: absolute;
	color: #999999;
}

.small_detail aside h3 {
	font-size: 1em;
}

.small_detail aside .simplePlot {
	font-size: 1em;
	padding: 2em 0em;
	color: #999;
}

.small_detail img {
	position: absolute; 								
	top: 0;
	left: 0;
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/* Small detail & Detail */
.detail .small_detail {
	overflow: visible;
	height: auto;
}

.detail .small_detail aside, #detail aside {
	top: 0;
	position: relative;
	height: auto;
	background-color: #F0F0F0;
	padding: 0;
}

.detail .small_detail aside [data-bind="score"] {
	font-size: 2em;
	line-height: 0.5em;
	padding: 1em 0em 0em 0em;
	position: relative;
	color: #999999;
}

/* Detail */
#detail aside p {
	margin: 0.5em 0em 2em 0em;
}

#detail ul, #detail li {
	float: left;
}

#detail ul {
	margin: 0.5em 0em 2em 0em;
	width: 100%;
}

#detail li {
	margin: 0em 0.25em 0em 0em;
	line-height: 1.5em;
}

#detail li:after {
	content: ",";
}

#detail li:last-child:after {
	content: "";
}

/* Loader */
#loader {
	z-index: 3;
	background-color: rgba( 255, 255, 255, 0.8);
	background-image: url("../img/loader.gif");
	background-repeat: no-repeat;
	background-position: center center;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
