/*------------------------------------*\
   CSS bestand voor smartphone opmaak
\*------------------------------------*/

/* Movies */
#movies article {
	width: 100%;
}

/* Small detail */
.small_detail, .small_detail img, .small_detail aside {
	height: 19em;
}

.small_detail aside {
	left: 50%;
	width: 100%;
}

.small_detail:hover aside {
	left: 0;
}

.small_detail aside h1 {
	font-size: 1em;
	height: 4em;
	width: 50%;
}

.small_detail aside [data-bind="genres"] {
	width: 45%;
}

.small_detail .simplePlot {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -0.6em;
	top: 0;
	padding: 0;
	width: 45%;
}

.small_detail img {
	min-width: 50%;
	height: auto;
}

.small_detail:hover img {
	left: -6.25em;
}

/* Detail */
.detail .small_detail aside {
	width: 100%;
	left: 0;
	position: relative;
	z-index: auto;
	height: 5em;
}

.detail .small_detail aside h1 {
	width: 100%;
	height: 2em;
}

.detail .small_detail [data-bind="score"] {
	position: absolute;
	top: -1.7em;
	text-align: right;
}

.detail .small_detail figure {
	height: 25em;
	width: 100%;
	overflow: hidden;
	margin: 0 0 1em 0;
}

.detail .small_detail img {
	z-index: auto;
	position: relative;
	width: 100%;
}

.detail .small_detail:hover img {
	left: 0;
}

/* Navigatie */
header {
	background-color: #7EC9AC;
	padding: 1em 0em;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
}

header figure {
	margin: 0;
	padding: 0em 0em 0em 2em;
}

header figure img {
	display: none;

}

header figure img.active {
	display: inline;
}

/* Menu */
nav {
	display: none;
	background-color: #7EC9AC;
	width: 100%;
}

nav ul {
	list-style-type: none;
	margin: 1em 0em 0em 1em;
	padding: 0em 0em 0em 1em;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	line-height: 1.8em;
	font-style: normal;
	display: block;
}